
#DataMain{
    display: inline-flex;
}

#DetailName{
    margin: 10px;
    text-align: center;
}

#CharacterDescription{
    margin-left: 1%;
}

#SideBarInfoCharacterDetails{
    background-color: magenta;
    margin: 2%;
    height: 100%;
    width: 20%;
}

#DetailPicture{
    background-color: magenta;
    height: 200px;
    width: 200px;
}

#DetailHeading{
    text-align: center;
    margin-bottom: 1%;
}