.DetailCharacter{
    text-align: center;
    padding: 5px;
    background-color: dimgray;
}

.DataMain{
    display: inline-flex;
}



.DetailPicture{
 border-radius: 3%;
}

.CharacterDescription{
    font-size: 200px;

}

.DetailDesc{
    font-size: 20px;
}

.SideBarInfoCharacterDetails{
    float: right;
    margin-left: 5%;
    background-color: #333333;
    border-radius: 3%;
    width: 50%;
    list-style: none;

}