.DetailCharacter{
    text-align: center;
    padding: 5px;
    background-color: dimgray;
}

.DataMain{
    display: inline-flex;
}



.DetailPicture{
    max-width: 100px;
    max-width: 100px;
    border-radius: 0;


}

.CharacterDescription{
    width: 70%;
    text-align: center;
}

.SideBarInfoCharacterDetails{
    border: magenta solid;
    max-width: 20%;
    float: right;
    margin-right: 1px;
}