

.GodCard:hover{

    transform: scale(140%);
    box-shadow:
    0 0 60px 30px white,  /* inner white */
    0 0 100px 60px gold, /* middle magenta */
    0 0 140px 90px goldenrod; /* outer cyan */
}

.CharacterCardBack{
    background-color: #333333;
}