.GodWrap{
    text-align: center;
}

.GodCard{
    background: silver;
    border: gold solid;
    margin: 1.2rem;
    width: 15%;
    height: 150px;
    max-height: 100%;
    border-radius: 7%;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}

#GodLink{
    text-decoration: none;
    color: black;
}



.GodCard:hover{

    transform: scale(140%);
    box-shadow:
    0 0 30px 15px white,
    0 0 50px 30px gold,
    0 0 70px 45px goldenrod;

    z-index: 1;
}
