#RepoCardCard{
    height: 30%;
    max-height: 30%;
    width: 28%;
    max-width: 28%;
    border: 1px solid #111111;
    background-color: darkslateblue;
    text-align: center;
    margin: 1%;
}

#RepoImg{
    height: 100%;
    width: 100%;
}