#RepoCardCard{
    height: 30%;
    max-height: 30%;
    width: 28%;
    max-width: 28%;
    border: 1px solid #111111;
    background-color: darkslateblue;
    text-align: center;
    margin: 1%;
    text-decoration: none;
    color: cyan;
}

#RepoImg{
    height: 100%;
    width: 100%;
}

#RepoCardLink{
    width: 100%;
    height: 100%;
}