.ContinentWrap{
    text-align: center;
    margin-top: 3px;
}

.ContinentCard{
    background-color: darkslateblue;
    max-height: 40%;
    height: 10%;
    max-width: 30%;
    width: 30%;
    margin: 10px;
    box-shadow: 10px 5px 5px darkslateblue;
    align-content: center;
    text-align: center;
    display: inline-flex;
    border: navy solid 3px;
    text-decoration: none;
    color: white;
}

#ContinentCardLink{
    text-decoration: none;
    color: white;
}

#ContinentImage{
    width: 100%;
    height: 100%;
    object-fit: fill;
}