.CharacterCard{
    background: darkslategray;
    border: slategray solid;
    margin: 2%;
    width: 20%;
    height: 75%;
    border-radius: 7%;
    display: inline-block;


}

img{
    max-width: 100%;
    border-radius: 8% 8% 0% 0%;

}

.CardContent{
    margin: 3%;
}

li{
    list-style-type: none;
}